{% extends 'base.html.twig' %}

{% block title %}SAL | DB{% endblock %}

{% block body %}
    <main class="main">
        <div class="container overflow-hidden">
            <div class="row gy-5">
                <div class="col-8">

                </div>
                <div class="col-4">
                    <div>

                    </div>
                </div>
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Remote Host</th>
                            <th scope="col">Status</th>
                            <th scope="col">Notification</th>
                            <th scope="col">Time Stamp</th>
                            <th scope="col">Mute Time</th>
                            <th scope="col">Log Time Stamp</th>
                            <th scope="col">Log Message</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                            <tr>
                                <th scope="row">{{ log.id }}</th>
                                <td>{{ log.getRemoteHostName }}</td>
                                <td>{{ log.status }}</td>
                                <td>{{ log.notification }}</td>
                                <td>{{ log.getTimeStampString }}</td>
                                <td>{{ log.getMuteTimeString }}</td>
                                <td>{{ log.getLogdataTimeStamp }}</td>
                                <td>{{ log.getLogDataMessage }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
