{% extends 'base.html.twig' %}

{% block title %}RemoteHost index{% endblock %}

{% block body %}
    <h1>RemoteHost index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Token</th>
                <th>Interval</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for remote_host in remote_hosts %}
            <tr>
                <td>{{ remote_host.id }}</td>
                <td>{{ remote_host.name }}</td>
                <td>{{ remote_host.token }}</td>
                <td>{{ remote_host.interval ? remote_host.interval.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
                <td>
                    <a href="{{ path('app.remote_host.show', {'id': remote_host.id}) }}">show</a>
                    <a href="{{ path('app.remote_host.edit', {'id': remote_host.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app.remote_host.new') }}">Create new</a>
{% endblock %}
